#VECTOR section {
  width : 100%;
  height : 100%;
}

#VECTOR .menu {
  background-color: rgba(0,81,114,0.6);
  width : 64px;
  height : 100%;
}

#waveform2 {
  width: 100%;
  height: calc(100% - 360px);

}

#VECTOR .resource {

  width : calc(25% - 64px);
  height : 100%;
}

#VECTOR fieldset.clicked {
  color : #ffa5f2 !important;
  background-color: rgba(40, 15, 91, 0.9) !important;

}
#VECTOR ul[name=docs]{
  height: 100%;
  overflow: auto;
}

#VECTOR .resource ul {
  float : left;
  height : 100%;
  overflow-y: scroll;
  width : 100%;
}

#VECTOR .resource .prompt {
  width : 100%;
  height : 192px;
}

#VECTOR .resource .prompt textarea {
  width : 100%;
  height : 128px;
}

#VECTOR .workflow {
  width : 75%;
  height : 100%;
}

/*
#VECTOR .output {
  width : 40%;
  height : 100%;
  background-color: rgba(0,40,57,0.6);
}
*/

#VECTOR button {
  height : 48px;
}

#VECTOR div {
  float : left;
}

#VECTOR .resource img {
  width : 90%;
  margin : 5%;
}

#VECTOR video {
  width : 90%;
  padding : 5%;
}

#VECTOR .resource li {
  float : left;
  width : 100%;
}


#VECTOR div.item {
  height : 160px;
}

#VECTOR div.caption {
  width : 100%;
}

#VECTOR select.size {
  width : 64px;
}

#VECTOR .item input[type=number] {
  height : 100%;
}

#VECTOR select.font {
  width : calc(100% - 494px);
}

#VECTOR .w64p {
  width : 64px;
}

#VECTOR .color {
  color : black;
  background-color : white !important;
  width : 48px;
  height: 48px;
}

#VECTOR .output .video {
  width : 100%;
  padding-top : 12px;
  padding-bottom : 12px;
  text-align: center;
}

#VECTOR .header {
  width : 100%;
  background-color : black;
  height : 64px;
  text-align: center;
  line-height: 64px;
}

#VECTOR input[type=range] {
  margin : 0;
}

#VECTOR fieldset img {
  width : 75%;
}

#VECTOR .VOICE img{
  height : 160px;
}

#VECTOR select {
  float : left;
}

#VECTOR input[type="range"] {
  height: 48px;
}

#VECTOR fieldset p {
  text-align: center;
}

#VECTOR fieldset {
  text-align: center;
}

#VECTOR .w45 {
  width : 46%;
  text-align: left;
}

#VECTOR .w30 {
  width : 30%;
  text-align: left;
}

#VECTOR fieldset input[type="range"]{
  width : 100%;
}

#VECTOR .inner {
  float : left;
  margin : 5px;
}

#VECTOR textarea {
  color : black;
  background-color: white;
  border: 1px solid aquamarine;
  font-size : 14px;
  width: 70%;
  float: left;
}

#VECTOR .workflow button {
  margin-top : 10px;
}